body {
    margin: 0;
    /* background-color: white; */
}


/* div {
    background-color: #E4F9F5;
} */

#aboutMeDiv {
    color: #66BFBF;
    margin-top: 20px;
}

.profile {
    border-radius: 500px;
    width: 250px;
    border: 5px solid #66BFBF;
    margin-bottom: 20px;
    /* width: 100px
    ; */
}

#nav {
    color: #66BFBF;
    font-family: "Quicksand";
    font-weight: bold;
}

#nav:hover {
    background-color: #1DE9B6;
    color: black;
    text-decoration: underline;
}

#profile {
    border-radius: 100%;
    width: 8%;
}

#h1Name {
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-weight: bold;
}

p {
    font-weight: bold;
    color: #66BFBF;
    font-family: "Quicksand";
    display: block;
}

#SkillsContainer {
    background-color: #E4F9F5;
    margin-top: 10px;
}

#skillCard {
    background-color: white;
    margin-top: 10px;
}

#h1Skills {
    font-family: "Quicksand";
    font-weight: bold;
    color: #66BFBF;
    text-align: center;
    text-decoration: underline;
}

#h5Card {
    color: #66BFBF;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    letter-spacing: 4px;
}

.progress {
    background-color: #E4F9F5;
}

.progressBar {
    color: #e5f3f3;
}

.profileskill {
    border-radius: 10%;
    width: 40%;
    border: 2px solid black;
}

#ex {
    background-color: #E4F9F5;
    color: #66BFBF;
    font-family: "Quicksand";
}

.btn {
    background-color: #E4F9F5;
}

.card-img-top {
    width: 50%;
    height: 20%;
}